<mat-card class="bg-white-custom mx-auto my-36 flex justify-center items-center h-1/2 w-1/4">
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="w-full mt-4">
          <mat-label>Current Password</mat-label>
          <input matInput formControlName="currentPassword" type="password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
            The Current Password field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" placeholder="Password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-icon (click)="hide = !hide" matPrefix>
            {{ hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
            Password is required.
          </mat-error>
        </mat-form-field>
        <div class="flex justify-center my-4">
          <button type="submit" [disabled]="changePasswordForm.invalid" class="bg-cyan-700 rounded-md disabled:bg-cyan-400 py-3 px-4 text-white font-bold disabled:cursor-not-allowed">
            Change Password
          </button>
        </div>
      </form>
    </mat-card-content>
    
  </mat-card>
  