
<mat-card class="responsive-card-container bg-white-custom mx-auto my-36 flex justify-center items-center h-1/2 w-1/4">
    <mat-card-title class="responsive-card">Forgot Password</mat-card-title>
    <mat-card-content >    
        @if(showEmailSent){
            <div class="text-center">
                <h1 class="text-xl font-bold"> Email sent</h1>
                <p class="mb-1 mt-3 text-cyan-700 font-semibold">
                    A password reset link has been sent to your email.
                </p>
                <mat-icon class="animate-bounce mt-5" style="width:100px; height: 100px; font-size: 50px; color: rgb(9, 170, 219);">
                    check_circle
                </mat-icon>
            </div>
        }  
        @else{
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill" class="w-full mt-4">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email" required>
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="email?.invalid && email?.touched">
                    Please enter a valid email.
                  </mat-error>
                </mat-form-field>
                <div class="flex justify-center my-4">
                  <button 
                    type="submit" 
                    [disabled]="email?.invalid" 
                    class="bg-cyan-700 rounded-md disabled:bg-cyan-400 py-3 px-4 text-white font-bold disabled:cursor-not-allowed">
                    Request Reset Password
                  </button>
                </div>
              </form>
        }
     
    </mat-card-content>
  </mat-card>
  
  
  
